.panel {
    position: relative;
    will-change: transform;
    width: 100%;
    // height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    background: $color-bg;
}

/* Home */
.panel__home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.panel__home-extra {
    display: flex;
    width: 100%;
    padding: 4rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: #e6dad7;
}
.extra-circle {
    background: $color-bg;
    border-radius: 100%;
    height: clamp(3rem, 2vw, 7rem);
    width: clamp(3rem, 2vw, 7rem);
}

.panel__home-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 5rem 5rem;
}
.panel__home-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}
.panel__home-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
    .home_title {
        text-align: center;
        h1 {
            @extend %title-big;
        }
        .home_parag {
            width: 75%;
            margin: 2rem auto 0 auto;
        }
        .home_title--line {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .home_line {
            position: relative;
            border-top: 2px solid $color-text;
            width: 18rem;
        }
    }
}

.home_desc {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: right;
    p {
        margin-bottom: 2rem;
    }
}

.home-arrow {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    text-align: right;
    animation: arrow 1s infinite alternate;
}
@keyframes arrow {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}

//!
.panel-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 2rem;
    padding: 2rem;
}
.panel__desc {
    grid-area: 2 / 3 / 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.panel__title {
    grid-area: 1 / 3 / 2 / 5;
    overflow: hidden;
    text-align: right;
}
.panel__image {
    grid-area: 2 / 1 / 4 / 3;
    position: relative;
    height: 100%;
}
.main-img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.panel__info {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.panel__info-text a {
    font-size: clamp(1.6rem, 1.8vw, 2.4rem);
}
.panel__info-more {
    display: flex;
    justify-content: space-between;
}
.info-viewmore {
    margin-bottom: 3rem;
}

.panel-last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: inherit;
    background: $color-text;
    padding: 2rem;
}
.panel_left {
    width: 60%;
    display: flex;
    align-items: flex-end;
    color: $color-bg;
}
.panel_right {
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.panel_right p {
    color: $color-bg;
}
.panel_right-1 {
    width: 50%;
}
.panel_right-2 {
    width: 50%;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-2 {
    margin-bottom: 2rem;
}

.open-panel--desc {
    display: none;
}

@media screen and (max-width: 1024px) {
    .home_title {
        text-align: center;
        padding-right: 0;
    }
    /* .home_title h1 {
        font-size: 12rem;
    } */
    .home_desc,
    .home-arrow {
        display: none;
    }
    .panel__home-text {
        justify-content: center;
        padding: 2rem;
        /* margin-top: 10%; */
    }
}

@media screen and (max-width: 769px) {
    .info-viewmore {
        color: $color-bg;
        border-bottom: 1px solid $color-bg;
    }

    .home_line {
        width: 8rem !important;
    }
    .home_parag {
        margin-bottom: 2rem;
    }
    .panel__home-extra {
        padding: 5rem;
    }
    /* panel grid */
    .panel-grid {
        display: grid;
        height: 100%;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 0.5fr 1.5fr;
    }
    .panel__title {
        grid-area: 1 / 2 / 2 / 3;
        overflow: hidden;
    }
    .panel__image {
        height: 100%;
    }
    .main-img {
        height: -webkit-fill-available;
    }

    /* Hidden panel-desc */
    .panel__desc {
        display: none;
    }
    .panel__info-more {
        margin-top: 2rem;
    }
    .menu_desc {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 10;
        pointer-events: none;
        display: block;
        opacity: 0;
    }

    .menu_desc-inner {
        background: $color-text;
        color: $color-bg;
        padding: 5%;
        height: inherit;
        overflow: inherit;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu--open {
        pointer-events: auto;
    }
    .action--open {
        pointer-events: auto;
    }
    .panel__desc-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
    .desc-info {
        display: flex;
        flex-direction: column;
    }

    .panel__desc-text {
        overflow-y: scroll;
    }
    .panel__desc-text p {
        margin-bottom: 10%;
    }
    .close-panel--desc {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.2rem 0;
        fill: $color-bg;
    }
    .hide-panel {
        display: none;
    }
    .open-panel--desc {
        display: block;
        p {
            position: absolute;
            bottom: 6rem;
            left: 4rem;
            text-decoration: underline;
            color: $color-bg;
        }
    }
}

@media screen and (max-width: 500px) {
    .panel-grid {
        display: flex;
        flex-direction: column;
        color: $color-bg;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    }
    .panel__info {
        margin-bottom: 5%;
    }
    .panel__title {
        width: 70%;
        text-align: left;
    }

    .panel__info-more {
        display: none;
    }
    .panel__image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 1rem;
        z-index: -1;
    }

    .panel_left {
        width: 100%;
        color: $color-bg;
    }
    .panel_right {
        text-align: left;
    }
    .panel_right-1 {
        display: none;
    }
    .panel_right-2 {
        width: 100%;
    }

    .open-panel--desc p {
        position: absolute;
        bottom: 3rem;
    }
}

// @media screen and (max-width: 320px) {
//
//     .hidden {
//         display: none;
//     }
// }
