%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

%abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%flex_col-justify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
