*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Telegraf';
    overscroll-behavior: none;
    scroll-behavior: none;
    background-color: $color-bg;
    color: $color-text;

    min-height: 100vh;
    max-width: 1920px;
    margin: 0 auto;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    display: none;
}

#app {
    height: 1px;
}

#container {
    height: calc(100vh - calc(100vh - 100%));
    background: $color-text;
}

img {
    display: block;
    width: 100%;
}
h1 {
    @extend %title-h1;
}

h2 {
    @extend %title-h2;
    line-height: 1;
}

h3 {
    @extend %title-h3;
    line-height: 1;
}

p {
    @extend %desc-20;
}

a {
    @extend %desc-25;
    color: $color-text;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    // margin-bottom: 3rem;
    border-bottom: 1px solid $color-text;

    opacity: 1;
    transition: opacity ease 0.5s;
}

a:hover {
    opacity: 0.8;
    transition: opacity ease 0.5s;
}

span {
    @extend %desc-20;
    display: inline-flex;
}

.strong {
    font-weight: 500;
}

button {
    outline: none;
    border: none;
    background: $color-bg;
    color: $color-text;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 1.5rem;
    right: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}
