@font-face {
    font-family: 'Telegraf';
    src: url('../font/telegraf-light.otf');
    font-weight: 100;
}
@font-face {
    font-family: 'Telegraf';
    src: url('../font/telegraf-regular.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Telegraf';
    src: url('../font/telegraf-bold.otf');
    font-weight: 500;
}
